replicaCount: 2

image:
  repository: 354630286312.dkr.ecr.eu-central-1.amazonaws.com/devops-eks-flask/flask-app
  tag: 2303896
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80
  targetPort: 5000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

probes:
  path: /healthz
